.DS_Store

.env
.vscode
.firebase
node_modules
src/config/API.js
functions/adminKey.json
notes.txt
ui-debug.log

teachers_students_data.csv
output.txt
worldaffairscon-8fdc5-firebase-adminsdk-19wbu-bdd2199fec.json
assignFinalFirebase.js
countPlenaries.js

build/
