@font-face{font-family: "Nexa";src: url("./corefonts/nexa/nexa_light.otf");}
@font-face{font-family: "Nexa";src: url("./corefonts/nexa/nexa_bold.otf");font-weight: bold;}
@font-face{font-family: "Nexa Slab";src: url("./corefonts/nexaslab/nexa_slab_regular.otf");}
@font-face{font-family: "Nexa Slab";src: url("./corefonts/nexaslab/nexa_slab_bold.otf");font-weight: bold;}

html {
  position: relative;
  height: 100%;
  width: 100vw;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  width: 100%;
  /* Set the fixed height of the footer here */
}



body, .fonted {
	font-family: "Nexa";
}

.fonted-h {
	font-family: "Nexa Slab";
}

#table {
  max-width: 100vw;
  overflow-x: scroll;
}

#alert {
  max-width: 100vw;
}

.black-icon{
	color: black;
}
a.black-icon:hover{
	color: black;
}
a.black-icon:visited{
	color:black;
}

.nav-image{
	height: 30px;
	width: auto;
}
