

html {
  position: relative;
  height: 100%;
  width: 100vw;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  width: 100%;
  /* Set the fixed height of the footer here */
}



body, .fonted {
	font-family: "GillSans";
}

.fonted-h {
	font-family: "GillSans";
}

#table {
  max-width: 100vw;
  overflow-x: scroll;
}

#alert {
  max-width: 100vw;
}

.black-icon{
	color: black;
}
a.black-icon:hover{
	color: black;
}
a.black-icon:visited{
	color:black;
}

.nav-image{
	height: 30px;
	width: auto;
}
