html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
}

.footer-list {
  float:left;
  margin-left: 2px;
  padding: 5px;
  text-align: justify;
  word-wrap:break-word;
}

.footer-list-1 {
  float:left;
  padding: 5px;
  text-align: justify;
  word-wrap:break-word;
}