body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.modal-dialog {
  top: 30%;
}

.ulStyle {
  list-style-type: none;
  display: inline;
}

.liStyle {
  display: inline;
  padding-right: 1rem;
}

.btn-close {
  display: none;
}

.passwdresetclick {
  cursor: pointer;
}

.qr-reader video {
  overflow: hidden !important;
  width:auto !important;
  height:100% !important;
}

.display-iblock{
  display: flex;
  justify-content: space-evenly;
}

.display-iblock svg {
  margin:0;
}
