# This is a basic workflow to help you get started with Actions

name: CI test

# Controls when the action will run. 
on:

  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - shell: bash
        env:
          SUPER_SECRET: ${{ secrets.FIREBASE_APIKEY }}
        run: |
          echo "$SUPER_SECRET"
